@import '../../../styles/abstracts/variables';
@import '../../../styles/base/shapes';
@import '../../../styles/base/shadow';
@import '../../../styles/base/effects';
@import '../../../styles/layout/position';
@import '../../../styles/layout/breakpoints';
@import '../../../styles/components/button';

@mixin icon() {
  & {
    @include absolute-center();
    @content;
  }
}

@mixin navigation-icons($parent-selector, $length: 40px) {
  &_icon {
    @include ripple__button($height: $length * 2, $width: $length * 3);
    &__return {
      @include icon() {
        @include triangle($direction: left, $height: $length, $width: $length / 2);
      }
    }
  
    &__home {
      @include icon() {
        @include circle($radius: $length / 2);
      }
    }
  
    &__background {
      @include icon() {
        @include square($length: $length);
      }
    }
  }
}

.navigation {
  height: map-get($map: $navigation-bar-height, $key: large);
  width: 100vw;
  align-items: center;

  display: flex;
  justify-content: space-around;

  background-color: $interface-color;

  @include navigation-icons(&);

  @include mq(small) {
    height: map-get($map: $navigation-bar-height, $key: small);
    @include navigation-icons(&, 30px);
  }

  @include mq(medium) {
    height: map-get($map: $navigation-bar-height, $key: medium);
    @include navigation-icons(&, 35px);
  }

  @include mq(large) {
    height: map-get($map: $navigation-bar-height, $key: large);
    @include navigation-icons(&, 40px);
  }
}
