@import '../abstracts/variables';
@import '../layout/breakpoints';
.status {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background-color: $interface-color;

  &_collection {
    &__time {
      padding: 0 10px;
      color: white;
    }

    // &_notification {}
  }

  @include mq(small) {
    padding: map-get($map: $status-bar-height, $key: small) 0;
  }

  @include mq(medium) {
    padding: map-get($map: $status-bar-height, $key: medium) 0;
  }

  @include mq(large) {
    padding: map-get($map: $status-bar-height, $key: large) 0;
  }
}