@import 'abstracts/variables';
@import 'components/status';
@import 'components/navigation';
@import 'components/button';
@import 'components/appPane';

@each $breakpoint, $value in $navigation-bar-height {
  $key: "breakpoint_#{$breakpoint}";
  @value #{$key} #{$value};
};

.tablet {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}