// Breakpoints
$breakpoints: (
  small: 320px,
  medium: 768px,
  large: 1024px,
) !default;

// Colours
$interface-color: rgba(0, 0, 0, 0.4);

// Page dimensions
$status-bar-height: (
  small: 20px,
  medium: 25px,
  large: 30px,
) !default;

$navigation-bar-height: (
  small: 80px,
  medium: 100px,
  large: 200px,
) !default;