// Breakpoints
$breakpoints: (
  small: 320px,
  medium: 768px,
  large: 1024px,
) !default;

// Colours
$interface-color: rgba(0, 0, 0, 0.4);

// Page dimensions
$status-bar-height: (
  small: 4px,
  medium: 5px,
  large: 6px,
) !default;

$navigation-bar-height: (
  small: 5px,
  medium: 8px,
  large: 10px,
) !default;