// https://css-tricks.com/how-to-recreate-the-ripple-effect-of-material-design-buttons/
@mixin ripple() {
  & {
    background-position: center;
    transition: background 0.8s;
  
    &:hover {
      background: #999999 radial-gradient(circle, transparent 1%, #afafaf 1%) center/15000%;
    }
  
    &:active, &:target {
      background-color: rgb(148, 148, 148);
      background-size: 100%;
      transition: background 0s;
    }

  }
}
