.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url("purple-galaxy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
}
  