.tablet {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;

  background-image: url("../../../assets/purple-galaxy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
}